@import url('https://fonts.googleapis.com/css2?family=Gruppo&family=Monoton&display=swap');

.about-container {
  height: 958px;
  width: 100%;
  background-color: #2e2929;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 50px;
  align-items: center;
  padding-top: 140px;
}

.about-content {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  width: 100%;
  height: 70vh;
}

.grid {
  display: flex;
  width: 40%;
  height: 90%;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 30px;
}

.about-card {
  width: 250px;
  height: 250px;
  border-radius: 10px;
  transition: transform 0.3s ease;
  box-shadow: 0px 0px 10px 0px #a5e6ff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 10px;
}

.about-card:hover {
  transform: scale(1.05);
}

.section-image {
  width: 60%;
}

.section-title {
  font-family: 'Gruppo', sans-serif;
  font-size: 35px;
  color: white;
  font-weight: 2000;
}

.about-title {
  font-family: 'Gruppo', sans-serif;
  font-size: 50px;
  color: #ffffff;
}

.overlay {
  background-color: rgba(171, 250, 254, 0.736);
  width: 100%;
  height: 100%;
  box-shadow: 0px 0px 10px 0px #a5e6ff;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.card-content {
  box-shadow: 0px 0px 10px 0px #a5e6ff;
  border-radius: 10px;
  height: 80%;
  width: 45%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 40px;
  align-items: center;
  text-align: center;
  font-family: 'Gruppo', sans-serif;
}

.content-title {
  font-size: 50px;
  color: white;
}

.content-para {
  font-size: 30px;
  color: white;
  width: 80%;
  height: 50%;
}

.content-skills {
  font-size: 30px;
  color: white;
  width: 80%;
  height: 50%;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 15px;
  list-style-position: inside;
}

.box-image {
  display: none;
}

.phone-content {
  display: none;
}

@media (max-width: 1575px) {
  .about-card {
    width: 200px;
    height: 200px;
  }
  .section-image {
    width: 50%;
  }

  .section-title {
    font-size: 30px;
  }

  .card-content {
    width: 40%;
    height: 70%;
  }

  .content-title {
    font-size: 40px;
  }
  .content-para {
    font-size: 25px;
  }

.content-skills {
    font-size: 25px;
  }
}

@media (max-width: 1328px) {
  .section-image {
    display: none;
  }
  .about-card {
    height: 80px;
    width: 140px;
  }
  .section-title {
    font-size: 20px;
  }

  .grid {
    flex-direction: row;
    width: 100%;
    height: auto;
  }

  .about-content {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 50px;
  }

  .card-content {
    width: 60%;
    height: 60%;
  }

  .content-title {
    font-size: 30px;
  }
  .content-para {
    font-size: 20px;
  }

  .content-skills {
    font-size: 20px;
  }

  .content-header {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 20px;
  }

  .box-image {
    display: block;
    width: 80px;
  }

}

@media (max-width: 810px) {
  .about-title {
    font-size: 40px;
  }
  .about-container {
    height: auto;
    width: 100%;
    overflow-y: auto;
    gap: 50px;
    padding-bottom: 50px;
    padding-top: 140px;
  }

  .about-content {
    display: none;
  }

  .phone-content {
    display: flex;
  }

  .phone-content {
  box-shadow: 0px 0px 10px 0px #a5e6ff;
  border-radius: 10px;
  height: 300px;
  width: 70%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 20px;
  align-items: center;
  text-align: center;
  font-family: 'Gruppo', sans-serif;
}

.phone-content-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 40px;
  height: auto;
}
 .content-title {
    font-size: 25px;
    width: 120px;
  }
  .content-para {
    font-size: 20px;
    height: 200px;
  }

  .content-skills {
    font-size: 20px;
    gap: 15px;
  }

  .content-header {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 20px;
    width: 100%;

  }

  .box-image {
    display: block;
    width: 50px;
  }
}

@media (max-width: 640px) {
  .content-title {
    font-size: 25px;
    width: 120px;
  }
  .content-para {
    font-size: 18px;
    height: 200px;
  }

  .content-skills {
    font-size: 18px;
    gap: 15px;
  }
}

@media (max-width: 470px) {
   .content-title {
    font-size: 20px;
    width: 120px;
  }
  .content-para {
    font-size: 15px;
    height: 200px;
  }

  .content-skills {
    font-size: 15px;
    gap: 10px;
  }

  .content-header {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 20px;
    width: 100%;

  }

  .box-image {
    display: block;
    width: 50px;
  }
}
