@import url('https://fonts.googleapis.com/css2?family=Gruppo&family=Monoton&display=swap');

.show-main-container {
  height: 958px;
  width: 100%;
  background-color: rgb(46, 41, 41);
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding-top: 140px;
  padding-bottom: 50px;;
  gap: 40px;
}


.show-logo-container {
  width: 350px;
  height: 50vh;
  border-radius: 20px;
  transition: transform 0.3s ease;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 40px;
  align-items: center;
  box-shadow: 0px 0px 10px 0px #a5e6ff;
  transition: transform 0.3s ease;
}

.show-logo-container:hover {
  transform: scale(1.05);
}

.show-logo {
  width: 90%;
}

.show-link, .show-link-git {
  font-family: 'Gruppo', sans-serif;
  font-size: 30px;
  color: white;
  text-decoration: none;
  border: 1px solid white;
  padding: 7px;
  border-radius: 10px;
}

.show-text-container, .show-tech-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  border-radius: 20px;
  height: 50vh;
  width: 400px;
  transition: transform 0.3s ease;
  box-shadow: 0px 0px 10px 0px #a5e6ff;
  font-family: 'Gruppo', sans-serif;
  font-size: 25px;
  color: white;
  text-align: center;
}

.show-text-container:hover {
  transform: scale(1.05);
}

.show-text, .show-text-tech {
  width: 90%;
  height: 85%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.show-title {
  margin-top: 10px;
}

.show-text-tech {
  width: 90%;
  height: 30%;
}

.show-link-git {
  margin-bottom: 100px;
}

.fix-hub-show {
  width: 200px;
}

.team-link-show {
  width: 270px;
}

.football-bingo-show {
  width: 350px;
}

@media (max-width: 1670px) {
  .show-logo-container {
    width: 250px;
  }
  
  .show-text-container, .show-tech-container {
    width: 300px;
  }

  .football-bingo-show {
    width: 250px;
  }

  .show-link, .show-link-git {
    font-size: 25px;
  }

  .show-title {
    font-size: 25px;
  }
  .show-text {
    font-size: 20px;
  }
  .show-text-tech {
    font-size: 20px;
  }
}

@media (max-width: 1320px) {
  .show-main-container {
    flex-direction: column;
    height: auto;
    width: 100%;
    ;
  }
  .show-logo-container {
    height: 300px;
  }
  .show-text-container {
    height: 350px;
  }
  .show-tech-container {
    height: 275px;
  }
  .show-logo-container, .show-text-container, .show-tech-container {
    width: 400px;
  }
  .fix-hub-show {
    width: 150px;
  }

  .show-link-git {
    margin-bottom: 50px;
  }
}

@media (max-width: 810px) {
  .show-logo-container {
    width: 300px;
  }
  .show-text-container, .show-tech-container {
    width: 300px;
  }
  .show-link-git {
    margin-bottom: 20px;
  }

  .show-title {
    font-size: 25px;
  }
  .show-text {
    font-size: 18px;
  }
}