@import url('https://fonts.googleapis.com/css2?family=Gruppo&family=Monoton&display=swap');

.contact-container {
  background-color: rgb(46, 41, 41);
  display: flex;
  justify-content: space-around;
  height: 90vh;
  width: 100%;
  flex-direction: column;
  align-items: center;
}

.contact-grid {
    display: flex;
    width: 100%;
    justify-content: center;
    gap: 50px;
}

.contact-card {
    height: 40vh;
    border: 2px solid #a5e6ff;
    width: 22%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    border-radius: 10px;
    box-shadow: 0 0 10px #a5e6ff;
}

.card-title {
    color: white;
    font-family: 'Gruppo', sans-serif;
    font-weight: bold;
    font-size: 35px;
}

.card-link {
    color: #a5e6ff;
    font-family: 'Gruppo', sans-serif;
    font-weight: bold;
    font-size: 25px;
    text-decoration: none;
    text-align: center;
    display: flex;
    justify-content: center;
}

.img {
    width: 40%;
}

.contact-title {
    font-family: 'Gruppo', sans-serif;
    font-size: 50px;
    color: white;
    font-weight: 2000;
}