@import url('https://fonts.googleapis.com/css2?family=Gruppo&family=Monoton&display=swap');

.contact-container {
  background-color: rgb(46, 41, 41);
  display: flex;
  justify-content: center;
  height: 958px;
  width: 100%;
  flex-direction: column;
  align-items: center;
  gap: 170px;
  padding-top: 140px;
padding-bottom: 50px;
}

.contact-grid {
    display: flex;
    width: 100%;
    justify-content: center;
    gap: 50px;
}

.contact-card {
    height: 350px;
    width: 350px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    border-radius: 10px;
    box-shadow: 0 0 10px #a5e6ff;
    transition: transform 0.3s ease;
}

.contact-card:hover {
    transform: scale(1.05);
}

.card-title {
    color: white;
    font-family: 'Gruppo', sans-serif;
    font-weight: bold;
    font-size: 35px;
}

.card-link {
    color: #a5e6ff;
    font-family: 'Gruppo', sans-serif;
    font-weight: bold;
    font-size: 25px;
    text-decoration: none;
    text-align: center;
    display: flex;
    justify-content: center;
}

.img {
    width: 40%;
}

.contact-title {
    font-family: 'Gruppo', sans-serif;
    font-size: 50px;
    color: white;
    font-weight: 2000;
}

@media (max-width: 1200px) {
    .contact-container {
        height: auto;
        gap: 100px;
    }

    .contact-grid {
        flex-direction: column;
        align-items: center;
    }
}

@media (max-width: 810px) {
    .contact-card {
        width: 300px;
        height: 230px;
    }

    .card-title {
        font-size: 25px;
    }

    .card-link {
        font-size: 20px;
    }
    .img {
        width: 30%;
    }
    .contact-title {
        font-size: 40px;
    }
}