.footer-container {
    background-color: black;
    color: white;
    height: 50px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.footer-list {
    list-style: none;
    display: flex;
    justify-content: space-around;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    width: 100%;
}

@media (max-width: 768px) {
    .footer-list {
        flex-direction: column;
        align-items: center;
        font-size: 15px;
    }
    .footer-container {
        height: 70px;
    }
}